
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th>
        

      </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      <!--for loop for data-->
    </tbody>
  </table>
