#appContainer{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(176, 196, 202), rgb(19, 165, 158));
}

#cardStyle{
    background-color: rgb(255,255,255,0.4);
    box-shadow: 5px 3px 10px 5px gray;
}