<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a routerLink="/home" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">Patholab Express</span>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none"  routerLink="/home">Home</a>
    <a class="me-3 py-2 text-dark text-decoration-none"  routerLink="/viewtestandpricing">View Test and Pricing</a>

    <!---- Booked Appointment only after user login---->
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/bookedappointment">Booked Appointment</a>
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/login">Login/Register</a>
    <!---- Add test only after admin login---->
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/addtest">Add Test</a>
    <!---- View all appointment by only after admin login---->
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/viewappointment">View Appointment</a>
    <!---- Sales report view only after admin login---->
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/home">Sales Report</a>
    <a class="py-2 text-dark text-decoration-none" routerLink="/home">Help Desk</a>
  </nav>
</div>