<div class="container">
  <div class="row">
      <div class="col-md-6">
          <h1>Booking Details</h1>
          <form [formGroup]="bookForm">
             <div class="form-group">
                  <label>Customer name</label>
                  <input type="text" class="form-control" id="name" name="name" formControlName="CustomerName" required>

                </div>
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" id="email" name="email" formControlName="Email" required>

                </div>
              <div class="form-group">
                <label>Date of Appointment</label>
                <input type="text" class="form-control" id="date" name="date" formControlName="DateofAppointment" required>

            </div>
              

              <div class="form-group">
                  <button type="submit" class="btn btn-primary" (click)="bookAppointment();" [disabled]="!bookForm.valid" >Book_Appointment</button>
              </div>

          </form>
      </div>
  </div>
</div>