<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Appointment Id</th>
        <th scope="col">Test Id</th> <!---should be test name here-->
        <th scope="col">Customer Name</th>
        <th scope="col">Booking Date</th>
        <th scope="col">Email</th>
        <th scope="col">Appointment Date</th>
        <th scope="col">Status</th>
        <th scope="col">Edit Appointment</th>
        <th scope="col">Cancel Appointment</th>
        <th scope="col">Download Report</th>
        

      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="submit" class="btn btn-primary" routerLink="/updateappointmentdetail" >Edit </button>
        </td>
        <td>
          <button type="submit" class="btn btn-primary" routerLink="/home" >Cancel</button>
        </td>
        <td>
          <form method="get" action="file.doc"> <button type="submit" class="btn btn-primary">Download!</button> </form>
        </td>

    </tr>
      <!--for loop for data-->
    </tbody>
  </table>
